/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
div.product-grid.swatch h4{
    color: #7f7f7f;
    letter-spacing: 2px;
    font-size: 12px;
}
div.product-grid.swatch h2{
    font-size: 17px;
    letter-spacing: 2px;
    margin: 5px 0 5px 0;
}
a.fl-button *{
    text-transform: uppercase !important;
    font-size: 14px !important;
}
.gform_wrapper select{
    color: #00a0e0!important;
}
.gform_wrapper select option{
    color: #00a0e0!important;
}
a.fl-button, 
a.fl-button:visited, 
.fl-builder-content a.fl-button, 
.fl-builder-content a.fl-button:visited{
    color: #ffffff !important;
    transition: all 200ms linear !important;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    font-size: 14px;
    min-height: 55px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    background: #00a0e0;
    border: 1px solid #00a0e0;
    width: auto;
    text-transform: uppercase;
}
.product-attributes .table th, 
.product-attributes .table td{
    text-transform: uppercase;
    padding: 5px !important;
    font-size: 14px !important;
}
.product-attributes .table th{
    width: 35%;
}
.product-attributes .table td{
    width: 65% !important;
}
.product-box h1{
	font-weight: 400 !important;
	letter-spacing: 2px;
	 text-transform: uppercase;
	font-size: 24px !important;
}
.product-box h2{
		letter-spacing: 2px;
	 text-transform: uppercase;
	color: #00a0e0;
	font-size: 14px !important;
}
.button-wrapper .btnAddAction.cart-action, .button-wrapper .button.contact-btn {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    width: 275px;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00a0e0;
    border: 1px solid #00a0e0;
    text-decoration: none;
    margin-top: 20px;
    text-transform: uppercase;
}

.button-wrapper .btnAddAction.cart-action:hover, .button-wrapper .button.contact-btn:hover {
    color: #fff;
    background: #000;
    border-color: #000;
}

.button-wrapper .button.contact-btn {
    background: #3e5879;
    border: 1px solid #3e5879;
}

div.product-attributes {
    margin-top: 30px;
    margin-bottom: 35px;
}
.fl-node-5e84e6b285005 .uabb-gf-style input[type=text]{
    margin-top: 0px!important;
}
body footer .footer-menu-links a:hover{
    color: #00a0e0!important;
}
.gform_wrapper .ginput_container.ginput_container_checkbox input {
    vertical-align: top!important;
    margin-top: 3px!important;
}

.moove-gdpr-button-holder>button.mgbutton {
    background-color: #fff!important;
    color: #000!important;
    border-radius: 0px!important;
    font-family: "Montserrat",sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;
    box-shadow: none !important;
    border: none!important;
    letter-spacing: 1px!important;
  }
  .moove-gdpr-button-holder>button.mgbutton:hover {
    background: #000!important;
    color: #fff!important;
    text-transform: uppercase!important;
    border-color: #000!important;
  }
  #moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
    background-color: #00a0e0!important;
    border-top: 1px solid #fff;
  }
#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
    color: #fff!important;
    opacity: 0.7;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
    color: #000!important;
  }
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
    background-color: #00a0e0!important;
    border: 1px solid #000!important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, 
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
    color: #000!important;
    background-color: #fff!important;
  }
  button.moove-gdpr-infobar-close-btn:hover i {
    color: #000 !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
    background-color: #00a0e0!important;
    color: #fff!important;  
    border: 0px!important;
    border-radius: 0px!important;
    font-family: "Montserrat",sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;  
      letter-spacing: 1px!important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
    background: #000!important;
    color: #fff!important;
    border: 0px!important;
  }
  
  .moove-gdpr-tab-main-content a:hover {
    color: #00a0e0!important;
  }
  
@media(max-width: 992px){
    .button-wrapper .btnAddAction.cart-action, .button-wrapper .button.contact-btn{
        margin: 20px auto 0;
    }
    .product-attributes table td,
    .product-attributes table th{
        width:50%;
        text-align: center;
    }
    .fl-page header{
        position: static!important;
    }
    .header-wrap-r >.fl-row-content-wrap >.fl-node-content>.fl-col-group{
        display: flex!important;
    }
    .header-wrap-r >.fl-row-content-wrap >.fl-node-content>.fl-col-group > .fl-col{
        width: 33%!important;
        max-width: auto;
    }
    
}
@media(max-width:450px){
    .header-wrap-r >.fl-row-content-wrap >.fl-node-content>.fl-col-group > .fl-col{
        width: 70%!important;
        max-width: auto;
    }
    .header-wrap-r >.fl-row-content-wrap >.fl-node-content>.fl-col-group > .fl-col:nth-child(3){
        width: 30%!important;
        max-width: auto;
    }
    .header-wrap-r >.fl-row-content-wrap >.fl-node-content>.fl-col-group > .fl-col:nth-child(2){
        order: 3;
        width: 70%!important;
    }
    .header-wrap-r >.fl-row-content-wrap >.fl-node-content>.fl-col-group > .fl-col:nth-child(2) .fl-module-content{
        margin-top: 0px;
    }
}

@media(max-width: 320px){
    .button-wrapper .btnAddAction.cart-action, .button-wrapper .button.contact-btn{
        width: auto;
    }
}
a.fl-button:hover, .fl-builder-content a.fl-button:hover{
    color: #fff;
    background: #000;
    border-color: #000;
}


#moove_gdpr_cookie_info_bar .moove-gdpr-infobar-close-btn{position:absolute!important;right:10px!important}.swell-chat-fixed{z-index:9999!important}.gdpr_lightbox,aside#moove_gdpr_cookie_info_bar{z-index:+9999999991!important}@media only screen and (max-width:992px){aside#moove_gdpr_cookie_info_bar{position:fixed;max-width:80%;left:0;right:0;margin:0 auto;top:50%;transform:translate(0,-50%);z-index:+9999999991;bottom:auto;content-visibility:inherit}#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content{flex-wrap:wrap;flex-direction:column}#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice{text-align:center}#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p{margin-bottom:10px!important}#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p:last-child{margin-bottom:0!important}#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-button-holder{padding:10px 0}#moove_gdpr_cookie_info_bar button.moove-gdpr-infobar-close-btn{top:-20px!important;right:-20px!important;background:#fff;opacity:1!important;color:#000!important}#moove_gdpr_cookie_info_bar .moove-gdpr-button-holder{justify-content:center;align-items:center}}@media (max-width:767px){#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content{padding:0!important}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-right-content{padding-top:30px!important}}.moove-gdpr-branding-cnt{  display: none;}.moove-gdpr-company-logo-holder{display: none;}
